body{
    background-image: url(/images/bg1.png);

}

.navbar{
    background-image: url("./images/Copy.png");
    text-align: center;
    justify-content: center;
    height: 200px;
}



.navbar ul li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin: 25px;
}

.navbar ul li a{
    border-radius: 45px;
    font-size: 21px;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.navbar ul li a:hover{
    border-left: 4px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.2s ease;
}

.active{
    border-left: 4px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);
}
